<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

</head>
<body>

	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRES</th>
					<th>TELEFONOS</th>
					<th>ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona:${personas}">
					<td th:text="${persona.id}"></td>
					<td th:text="${persona.nombre}"></td>
					<td th:text="${persona.telefono}"></td>
					<td><a th:href="@{/editar/}+${persona.id}"
						class="btn btn-warning">Editar</a> <a
						th:href="@{/eliminar/}+${persona.id}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	


</body>
</html>